<form>
  <h1 mat-dialog-title>{{(data.isEdit ? 'Edit' : 'Create') | translate}} {{'Goods' | translate}}</h1>
  <div mat-dialog-content>

      <mat-form-field
      *ngIf="canEditColumn('Title')"
      class="entity-edit-field"
      appearance="outline">
      <mat-label>{{'Title' | translate}}</mat-label>
      <input
        matInput
        type="text"
        name="Title"
        (change)="changed('Title')"
        [(ngModel)]="data.entity['Title']"
        autocomplete="off">
    </mat-form-field>

    <mat-form-field
      *ngIf="canEditColumn('Description')"
      class="entity-edit-field"
      appearance="outline">
      <mat-label>{{'Description' | translate}}</mat-label>
      <input
        matInput
        type="text"
        name="Description"
        (change)="changed('Description')"
        [(ngModel)]="data.entity['Description']"
        autocomplete="off">
    </mat-form-field>

    <mat-form-field
      *ngIf="canEditColumn('Good_id')"
      class="entity-edit-field"
      appearance="outline">
      <mat-label>{{'Good_id' | translate}}</mat-label>
      <input
        matInput
        type="number"
        step="1"
        name="Good_id"
        (change)="changed('Good_id')"
        [(ngModel)]="data.entity['Good_id']"
        autocomplete="off">
    </mat-form-field>

</div>

  <div mat-dialog-actions>

    <div class="right-aligned">

      <button 
        mat-raised-button
        color="primary"
        type="submit"
        (click)="upsert()">{{'Save' | translate}}</button>

      <button
        mat-button
        (click)="close(null)">{{'Cancel' | translate}}</button>

    </div>

  </div>
</form>
